html {
  background-color: #E4E9FD;
  min-height: 1000px;
  font-family: 'helvetica neue';
}

h1 {
  color: #ffffff;
  padding: 10px;
}

#heading {
  background-color: #A683E3;
  text-align: center;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}